<!DOCTYPE html>
<head>
  <title>MyMovieBox</title>
</head>
<body>
  <h1>Welcome to MyMovieBox</h1>
  <h2>Start browsing movies and creating collections!</h2>
  <a href="/movies">Browse Movies!</a>
  <a href="/collections">Go to my collections!</a>
</body>
</html>